.header{
    padding: 10px; /*Space above and below text*/
    color: #FFFFE1; /*Color of the text*/
    font-variant-caps: small-caps;
    font-size: 50px;
}

.title{
    padding: 5px; /*Space above and below text*/
    color: #FFFFE1; /*Color of the text*/
    background: rgb(155, 50, 24);
    font-variant-caps: small-caps;
    font-size: 50px;
    border-style:solid;
    border-color:#FFFFE1;
}

.subtitle{
    padding: 5px; /*Space above and below text*/
    color: #6E161C; /*Color of the text*/
    background: #FFFFE1;
    font-variant-caps: small-caps;
    font-size: 25px;
    border-style:solid;
    border-color:#FFFFE1;
}

/*.p{
    font-family: "arial";
    font-size: 15px;
    text-align: justify
}*/

ul{
    list-style-position: inside;
}

img{
    overflow: auto;
    float:left;
    size:auto;
}

.table{
    border: none;
}

th{
    font-variant-caps: small-caps;
    font-size: 25px;
    text-align: center;
    background-color:#6E161C;
    color:#FFFFE1  
}

td{
    font-size:15px;

}
