<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Mission to Mars</title>

  <!-- Bootstrap stylesheet -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"/>
</head>

<body>

  <div class="container-fluid">
    <div class="jumbotron" style="background-image:url('http://www.asc-csa.gc.ca/images/astronomie/mars/banner-mars.jpg'); background-size:cover">
      <p class="header" style_=>Mars 2020</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button" style="background-color: #6E161C; border-color:#FFFFE1">Update the information</a></p>
    </div>
  
    <!-- LATEST NEWS TITLE-->
    <div class="row">
      <div class="col-md-12">
        <div>
          <p class=title >Latest Mars 2020 News</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="subtitle">
          <h2>{{mars.latest_news_t}}</h2>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-12">
        <div class="p">
          <p>{{mars.latest_news_p}}</p>
        </div>
      </div>
    </div>

    <!--Featured Image + Tables-->
    <div class="row">
      <div class="col-md-7">
        <div>
          <h1 class=title>Featured Space Image</h1>
        </div>
      </div>

      <div class="col-md-5">
        <div>
          <h1 class=title>Current Weather on Mars</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <div>
          <h2 class="subtitle">{{mars.featured_img_title}}</h2>
          </a> 
        </div>
      </div>

      <div class="col-md-5">
        <div>
          <h2 class="subtitle">The Mars Weather Twitter (@MarsWxReport)</h2>
          </a> 
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-4">
          <div>
            <a href="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars" target="_blank">
              <img src ="{{mars.featured_img}}" alt="Space image" class="img-fluid" alt="Responsive image">
            </a>
          </div>
        </div>

        <div class="col-md-3">
          <div>
            <p>{{mars.featured_img_info}}</p>
          </div>
        </div>

        <div class="col-md-5">
          <div>
            <p>{{mars.weather_tweet}}</p>
            <h1 class="title">Mars Facts</h1>
            <p class="table">{{mars.facts|safe}}</p>
          </div>
        </div>
      </div>

    <!--Hemispheres-->
    <div class="row">
      <div class="col-md-12">
        <div>
          <h1 class=title>Mars Hemispheres</h1>
        </div>
      </div>
    </div>
    
    
    <div class="row">
      
        {% for hemisphere in mars.hemispheres %}
        <div class="col-md-3">
          <h2 class=subtitle>{{ hemisphere.title }}</h2>
          <a href={{hemisphere.url}} target="_blank">
            <img src="{{ hemisphere.image }}" class="img-fluid" alt="Responsive image" href="{{ hemisphere.image }}">
          </a>
        </div>
        {% endfor %}
      
    </div>



  </div>

</body>

</html>
